<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/css/styles2.css">
  <nav class="navbar mb-4" style="background-color: #c1c4c9;">
    <div class="container-fluid">
      <a class="navbar-brand"><h1>BillingGen</h1></a>
      <ul class="nav d-flex justify-content-end p-2">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/bill">Bill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/database">Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</head>
<body>
    <div class="container" id="page-container">
